
@font-face {
  font-family: "montserrat-black";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-black-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-extrabold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-extrabold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-bold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-semibold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-medium-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-regular-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-light-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-extralight-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-extralight-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("../1337Syndicate/XylaufyyyId/montserrat-thin-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyyId/montserrat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}



@font-face {
  font-family: "muli-extrabold";
  src: url("../1337Syndicate/XylaufyyaId/muli-extrabold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-extrabold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extrabold-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-extrabolditalic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-extrabolditalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-bold";
  src: url("../1337Syndicate/XylaufyyaId/muli-bold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-bold-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-bolditalic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-bolditalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-semibold";
  src: url("../1337Syndicate/XylaufyyaId/muli-semibold-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-semibold-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-semibolditalic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-semibolditalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-regular";
  src: url("../1337Syndicate/XylaufyyaId/muli-regular-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-italic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-light";
  src: url("../1337Syndicate/XylaufyyaId/muli-light-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-light-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-lightitalic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-lightitalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extralight";
  src: url("../1337Syndicate/XylaufyyaId/muli-extralight-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-extralight-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extralight-italic";
  src: url("../1337Syndicate/XylaufyyaId/muli-extralightitalic-webfont.woff2") format("woff2"), url("../1337Syndicate/XylaufyyaId/muli-extralightitalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


